---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <h1>About</h1>
  <p>Hi, I’m Kristian Kim, a product designer who enjoys crafting intuitive and user-centered experiences.</p>
  <p>Currently, I lead and collaborate with my team at JPMorgan Chase to design and deliver impactful tools that drive business success at various scales.</p>
  <p>Contact: <a href="mailto:hello@kristiankim.com">hello@kristiankim.com</a></p>
</BaseLayout>
